* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.w-80 {
    width: 80%;
    margin: auto;
}

header {
    background-color: #030915;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030915;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0px 20px;
    font-weight: 500;
    font-size: 20px;
}

/* small mobile css */
@media (max-width:500px) {
    nav {
        display: none;
    }

    .hamburger {
        color: #ffffff;
    }

}

@media (min-width:500px) {
    .hamburger i {
        display: none;
    }

    .logo {
        padding: 0 20px;
    }

}

/* hero section */
.hero {
    background-color: #030915;
    height: 805px;

}

.box1 {
    color: white;
    width: 500px;
}

.box1 h1 {
    font-weight: 400;
    font-size: 96px;

}

.box1 p {
    font-weight: 400;
    font-size: 24px;
    line-height: -20px;
    margin: 15px 150px 15px 0px;

}

.box1 button {
    padding: 30px 50px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #030915;
    color: #ffffff;
}

.box2 {
    position: relative;
}

.box2 img {
    position: absolute;
    left: 700px;
    top: -90px;
}

/* cars section */
.buttons {
    display: flex;
    justify-content: space-around;
}

.box {
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    width: 170px;
    height: 122px;
    text-align: center;
    padding-top: 20px;
    margin: 164px 0 133px 0;
}

.box h4 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #6F6F6F;
}

.sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hed h1 {
    font-size: 64px;
    font-weight: 700;
    color: #272727;
}

.modles {
    display: flex;
    justify-content: space-around;
}

.modles p {
    margin: 61px 35px;
    font-size: 24px;
    color: #313131;
}

.show-room {
    align-items: center;
}

.images-car {
    width: 71%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
}

.text {
    position: absolute;
    top: 50px;
    left: 100px;
    color: white;
    width: 200px;
}

.text button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    margin-top: 30px;
}

.rolls {
    position: absolute;
    bottom: 20px;
    left: 390px;
}

.heading {
    text-align: center;
}

.heading h1 {
    font-weight: 900;
    font-size: 64px;
    margin: 70px 0;
}

.sec-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 550px);
    gap: 20px;

}

.box-car {
    border-radius: 12px;
    overflow: hidden;
    padding: 20px;
}

.box-car img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boxes-text {
    background-color: #1e1e1e;
    color: white;
    grid-area: 1/1/1/2;
    padding: 40px 100px 50px 50px;

}

.boxes-text h3 {
    font-weight: 700;
    font-size: 40px;
     line-height: 50px;
}

.boxes {
    border-radius: 12px;
    grid-area: 1/2/1/3;
    line-height: 50px;
}

.boxes1 {
    border-radius: 12px;
    grid-area: 2/1/2/2;
 line-height: 50px;
}

.boxes-text1 {
    background-color: #1e1e1e;
    color: white;
    grid-area: 2/2/2/3;
 line-height: 50px;
}

.boxes-text1 h3 {
    padding: 40px 100px 50px 50px;
    font-weight: 700;
    font-size: 40px;
}